@import 'styles/colors.css';
@import 'styles/fonts.css';

html {
  body {
    &, * {
      border: none;
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
    }
  }
}

html {
  body {
    background-color: $backgroundDark;
    color: $textWhite;

    @import 'components/Header/Header.css';

    .main {
      @import 'pages/Home/Home.css';
      @import 'pages/About/About.css';
      @import 'pages/Contact/Contact.css';
    }
  }
}