.pomodoro-timer {
  position: relative;
  
  border-radius: 50%;
  /* background: #181824;
  box-shadow:  20px 20px 40px #0d0d14, -20px -20px 40px #232334; */
  /* border-radius: 150px; */
  /* background: #1C1C1C; */
  /* box-shadow:  20px 20px 40px #0f0f0f, -20px -20px 40px #292929; */
  /* border-radius: 150px; */
  /* background: linear-gradient(145deg, #202020, #252525);
  box-shadow:  23px 23px 45px #131313,
              -23px -23px 45px #333333; */
              /* animation-iteration-count: 1; */
  animation: rise 1s normal ease-in-out 1 forwards;
  /* animation: rise 2s alternate ease-in-out infinite both; */
  transition: background 2s;
  animation-delay: 1s;

  @keyframes rise {
    0% {
      background: linear-gradient(145deg, rgba(32, 32, 32, 0), rgba(37, 37, 37, 0));
      box-shadow:  0px 0px 0px rgba(19, 19, 19, 0),
                  0px 0px 0px rgba(51, 51, 51, 0);
      /* border: solid 5px red; */
    }
    50% {
      /* background: linear-gradient(145deg, rgba(32, 32, 32, 0.5), rgba(37, 37, 37, 0.5)); */
    }
    100% {
      /* background: linear-gradient(145deg, rgba(32, 32, 32, 1), rgba(37, 37, 37, 1)); */
      /* background: linear-gradient(145deg, #202020, #252525); */
      box-shadow:  23px 23px 45px #131313,
                  -23px -23px 45px #333333;
      /* border: solid 5px blue; */
    }
  }
  
  .text {
    position: absolute;
    width: 430px;
    height: 430px;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    gap: 30px;
    justify-content: center;
    text-align: center;
    z-index: 1;
    /* margin: 20px; */
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    animation: appear 1s normal ease-in-out 1 forwards;
    /* animation: rise 2s alternate ease-in-out infinite both; */
    animation-delay: 1.5s;
  
    @keyframes appear {
      0% {
        opacity: 0;
        /* top: calc(50% + 20px); */
      }
      100% {
        opacity: 1;
        /* top: 50%; */
      }
    }

    .percentage {
      font-size: 20px;
      font-weight: 500;
    }

    .time {
      /* font-size: 80px; */
      font-weight: 700;
      font-family: $roboto;
      /* font-family: $splineSans; */
      /* font-family: $majorMono; */
      /* font-family: $novaMono; */
      /* font-family: $shareTechMono; */
      font-size: 100px;
    }

    .toggle {
      text-transform: uppercase;
      padding-left: 15px;
      letter-spacing: 15px;      
      font-size: 20px;
      font-weight: 600;
      background: none;
      color: white;
      border: none;
    }
  }

  .bar {
    margin: 20px;
    position: relative;
    transform: rotate(-90deg);
    overflow: visible;
    /* z-index: 20; */
    /* background-color: #1B1B1B; */
    border-radius: 50%;
    /* padding: 20px; */

    circle {
      position: relative;
      fill: none;
      stroke-width: 15;
      transform: translate(0px, 0px);
      /* stroke-dasharray: 1320;
      stroke-dashoffset: 1320; */
      stroke-linecap: round;
      z-index: 20;
      
      &.bar {
        stroke-dashoffset: 0;
        /* stroke: rgba(100,100,100,0.05); */
        /* stroke: rgba(0,0,0,0); */
      }

      &.fluid {
        z-index: 20;
        position: relative;
        stroke-dashoffset: 0;
        transition: stroke-dashoffset 0.1s linear, filter 0.5s, stroke 0.5s;
        /* stroke-dashoffset: calc(440 - (440 * 66) / 100); */
        stroke: #03a9f4;
        /* stroke: rgba(3, 169, 244, 0.5); */
        /* stroke: #F76F6F; */
        /* filter: drop-shadow(0px 0px 5px rgba(247,111,111,0.75)); */
        
        &.almost {
          stroke: green;
        }
        
        &.done {
          /* stroke: #FFFFFF;
          filter: drop-shadow(0 0 5px rgba(257,257,257,0.75)); */
        }
      }

      &.half {
        stroke-dashoffset: 0;
        transform: translate(100%, 100%) rotate(180deg);
        transition: stroke-dashoffset 1s linear, filter 0.5s, stroke 0.5s;
        /* stroke-dashoffset: calc(440 - (440 * 66) / 100); */
        /* stroke: #03a9f4;
        stroke: #03a9f4;
        stroke: rgba(0,257,0,0.5); */
      }
    }
  }  
}