.settings {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  position: fixed;
  align-items: center;
  justify-content: center;
  z-index: 2;

  .settings-modal {
    display: flex;
    flex-direction: column;
    background: white;
    color: black;
    align-items: center;
    border-radius: 20px;
    
    .head {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 40px;
      width: 100%;
      border-bottom: solid 1px rgba(1,1,1,0.1);

      button {
        background-color: white;
      }
    }
    
    .body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0px 40px;
      
      .item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0px;
        gap: 20px;
        border-bottom: solid 1px rgba(1,1,1,0.1);

        .head {
          padding: 0px 0px;
          width: 100%;
          border: none;

          h3 {
            text-transform: uppercase;
            font-weight: 600;
            color: rgba(1,1,1,1);
            letter-spacing: 4px;
          }
        }

        .body {
          padding: 0px 0px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          gap: 40px;
        }

        &-time {
          flex-direction: column;

          .body {
            div {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              gap: 10px;

              h4 {
                text-transform: lowercase;
                font-weight: 500;
                color: rgba(1,1,1,0.5);
                /* margin-bottom: 10px; */
              }

              label {
                display: flex;
                flex-direction: row;
                /* justify-content: space-between; */
                align-items: flex-end;
                gap: 10px;

                p {
                  text-transform: lowercase;
                  padding-bottom: 10px;
                }

                input {
                  background-color: rgba(1,1,1,0.1);
                  border-radius: 10px;
                  padding: 10px;
                  width: 100px;
                }
              }
            }
          }
        }

        &-font {
          flex-direction: row;
        }

        &-color {
          flex-direction: row;
        }
      }
    }
  
    .submit-button {
      position: relative;
      transform: translateY(50%);
      padding: 15px;
      border-radius: 100px;
      background: #363636;
      font-size: 16px;
      color: white;
      width: 150px;
      font-weight: 600;
    }
  }
}